body {
    margin: 0;
    background-color: rgb(246, 251, 249);
    overflow: hidden;
}

.btn-primary {
    background-color: green;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.btn-secondary {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.modal-body{
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.layerPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgb(65, 149, 80);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spinner 2s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}