<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="/js/util/loading-spinner.js" defer></script>
  <script src="/js/util/modal.js" defer></script>
  <script src="/js/util/customed-fetch.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">​
  <link  rel="stylesheet" href="/css/shared.css">
  <title></title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div>
  <h2 id="error-status">500</h2>
  <p>서버에서 오류가 발생했습니다...</p>
</div>
</body>
</html>